<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<script src="dist/Chart.bundle.js"></script>
    <title>Gestion des Chapitres</title>

    <!-- Custom fonts for this template -->
    <link href="{{ asset('back/amine/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="{{ asset('front/acceuil/assets/favicon.ico')}}" />

    <!-- Custom styles for this template -->
    <link href="{{ asset('back/amine/css/sb-admin-2.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{{ asset('back/amine/vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <img class="rounded-circle" src="{{ asset('back/amine/img/logo.svg')}}"
                     alt="..."  style="width:75px;height:75px";>  </div>
            <div class="sidebar-brand-text mx-3">9arini </div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="{{ path('stat') }}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span >    Dashboards     </span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
       <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Gestion des Cours</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Gestion des cours</h6>
                    <a class="collapse-item" href="{{ path('affichercours') }}">Cours</a>
                    <a class="collapse-item" href="{{ path('affichecategorie') }}">Categories</a>
                    <a class="collapse-item" href="{{ path('affichechapitre') }}">Chapitres</a>

                </div>
            </div>
        </li>
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Gestion des Utilisateurs</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Gestion des Utilisateurs</h6>
                    <a class="collapse-item" href="#">Etudiants</a>
                    <a class="collapse-item" href="#">Formateurs</a>
                    <a class="collapse-item" href="#">Adminstrateurs</a>
                </div>
            </div>
        </li>
        <hr class="sidebar-divider">

       <!-- Heading -->
        <div class="sidebar-heading">
            Addons
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>Pages</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Login Screens:</h6>
                    <a class="collapse-item" href="#">Login</a>
                    <a class="collapse-item" href="#">Register</a>
                    <a class="collapse-item" href="#">Forgot Password</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Other Pages:</h6>
                    <a class="collapse-item" href="#">404 Page</a>
                    <a class="collapse-item" href="#">Blank Page</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Charts -->


        <!-- Nav Item - Tables -->


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            </nav>




            <div class="container-fluid">


                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Nombre de cours par catégorie</h6>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <canvas id="categories" width="400" height="100"></canvas>

                        </div>

                    </div>
                </div>







                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Prix des cours</h6>
                            </div>
                            <div class="card-body">
                                <div style="width: 75%">
                                    <canvas id="myChart">

                                    </canvas>
                                </div>
                                <hr>

                            </div>
                        </div>












        </div>
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; 9arini</span>
                </div>
            </div>
        </footer>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>








<script src="{{ asset('back/amine/vendor/jquery/jquery.min.js')}}"></script>
<script src="{{ asset('back/amine/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{ asset('back/amine/vendor/jquery-easing/jquery.easing.min.js')}}"></script>
<script src="{{ asset('back/amine/js/sb-admin-2.min.js')}}"></script>
<script src="{{ asset('back/amine/vendor/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{ asset('back/amine/vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{ asset('back/amine/js/demo/datatables-demo.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
<script>
    // Set new default font family and font color to mimic Bootstrap's default styling

    // Pie Chart Example
    var ctx = document.getElementById("myPieChart");
    var myPieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: {{ coursnom|raw }},
            datasets: [{
                data: {{ coursprix }},
                backgroundColor: ['#df4e8f', '#221cc8', '#cc4836'],
                hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf', '#8a2caf', '#2c9faf', '#2c9faf', '#2c9faf', '#2c9faf', '#2c9faf'],
                hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
        },
        options: {
            maintainAspectRatio: false,
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
            },
            legend: {
                display: false
            },
            cutoutPercentage: 80,
        },
    });


    /*
      <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Donut Chart</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-pie pt-4">
                                <canvas id="myPieChart"></canvas>
                            </div>
                            <hr>
                            Styling for the donut chart can be found in the
                            <code>/js/demo/chart-pie-demo.js</code> file.
                        </div>
                    </div>
                </div>
            </div>

        </div>
     */
</script>

           <script>
               Chart.defaults.global.title.display = true ;
               Chart.defaults.global.title.text= "";
               Chart.defaults.global.elements.point.radius=10;

           </script>

            <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var chart = new Chart (ctx,{
                    type: 'line',
                    data: {
                        labels:{{ coursnom|raw }},
                        datasets: [{
                            label: "Cours",
                            backgroundColor: 'rgb(255, 99, 132, 0.1)',
                            borderColor: 'rgb(255, 99, 132)',
                            data:{{ coursprix }}
                        }]
                    },
options: {
         title: {
             text: "Prix des cours"
         }

}
                });

            </script>



            <script>
    let categories = document.querySelector("#categories")
    let categGraph = new Chart(categories, {
        type: "pie",
        data: {
            labels: {{ categorieNom|raw }},
            datasets: [{
                label: "Répartition des catégories",
                data: {{ categorieCount|raw }},
                backgroundColor: ["black","green","blue","red","yellow","brown","pink","white","gold","purple","silver","grey"]
            }  ]
        }
    })

</script>
</body>
</html>