<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">


            <tr>



                <td> le cours {{ pdf.nomCours }}</td>

                <td><img src="{{ asset('/front/web/images/')}}{{ pdf.coursimg }}" width="100"  /></td>
                            <td>identifiant :{{ pdf.id  }}</td>
                <td>ajouté par {{ pdf.utilisateurNom  }}</td>

                <td> son prix est{{ pdf.nbrChapitres }}</td>
                <td>appartien a la categorie {{ pdf.categorie }}</td>
            </tr>





</table>