{% extends 'base-front2.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Modifier un cible</h1>

        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-xl-6 align-content-center" >
                            <br><br>
                            <div class="form-group">
                                {{ form_start(formulaire) }}
                                <div class="form-group">
                                    <label for="name">Genre</label>
                                    {{ form_widget(formulaire.genre  , {'attr': {'class': 'form-control form-control-user' }} ) }}
                                    {{ form_errors(formulaire.genre ) }}
                                </div>

                                <div class="form-group">
                                    <label for="name">Age minimale </label
                                    {{ form_widget(formulaire.ageMin , {'attr': {'class': 'form-control form-control-user' }} ) }}
                                    {{ form_errors(formulaire.ageMin) }}
                                </div>
                                <div class="form-group">
                                    <label for="name">Age maximale</label>
                                    {{ form_widget(formulaire.ageMax , {'attr': {'class': 'form-control form-control-user'  }} ) }}
                                    {{ form_errors(formulaire.ageMax) }}
                                </div>
                                <div class="form-group">
                                    <label for="name">Dare debut de cible </label>
                                    {{ form_widget(formulaire.dateDebut , {'attr': {'class': 'form-control form-control-user' }} ) }}
                                    {{ form_errors(formulaire.dateDebut) }}
                                </div>
                                <div class="form-group">
                                    <label for="name">Date fin de cible </label>
                                    {{ form_widget(formulaire.dateFin, {'attr': {'class': 'form-control form-control-user' }} ) }}
                                    {{ form_errors(formulaire.dateFin) }}
                                </div>
                                <div class="form-group">
                                    <label for="name">Prix de cible </label>
                                    {{ form_widget(formulaire.prix , {'attr': {'class': 'form-control form-control-user' }} ) }}
                                    {{ form_errors(formulaire.prix) }}
                                </div>

                            </div>
                            {{ form_end(formulaire) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- /.container-fluid -->

{% endblock %}
