{% extends 'base-front2.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Ajouter une Publicite</h1>

        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-xl-6 align-content-center" >
                            <br><br>
                            <div class="form-group">
                                {{ form_start(formulaire) }}
                                <div class="form-group">
                                    <label for="name">Lien de publicite</label>
                                    {{ form_widget(formulaire.lienPublicite  , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'lienPublicite'}} ) }}
                                    {{ form_errors(formulaire.lienPublicite ) }}
                                </div>

                                <div class="form-group">
                                    <label for="name">Image de publicite </label>
                                    {{ form_widget(formulaire.imagePublicite , {'attr': {'class': 'form-control form-control-user' , 'placeholder' :'imagePublicite'}} ) }}
                                    {{ form_errors(formulaire.imagePublicite) }}
                                </div>
                                <div class="form-group">

                                    <label for="name">Lien video de publicite</label>
                                    {{ form_widget(formulaire.videoPublicite , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'videoPublicite' }} ) }}
                                    {{ form_errors(formulaire.videoPublicite) }}
                                </div>

                                <div class="form-group">
                                    <label for="name">Choisir un cible</label>
                                    {{ form_widget(formulaire.cible , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'nbrClick'}} ) }}
                                    {{ form_errors(formulaire.cible) }}
                                </div>


                            </div>
                            {{ form_end(formulaire) }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- /.container-fluid -->

{% endblock %}