<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="dist/Chart.bundle.js"></script>
    <title>Gestion des Chapitres</title>

    <!-- Custom fonts for this template -->
    <link href="{{ asset('back/amine/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="{{ asset('front/acceuil/assets/favicon.ico')}}" />

    <!-- Custom styles for this template -->
    <link href="{{ asset('back/amine/css/sb-admin-2.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{{ asset('back/amine/vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->

        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <img class="rounded-circle" src="{{ asset('back/amine/img/logo.svg')}}"
                     alt="..."  style="width:75px;height:75px";>  </div>



            <div class="sidebar-brand-text mx-3">9arini </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="{{ path('stat') }}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span >    Dashboards     </span>


            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->


        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Gestion des Cours</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Gestion des cours</h6>
                    <a class="collapse-item" href="{{ path('affichercours') }}">Cours</a>
                    <a class="collapse-item" href="{{ path('affichecategorie') }}">Categories</a>
                    <a class="collapse-item" href="{{ path('affichechapitre') }}">Chapitres</a>

                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Gestion des Utilisateurs</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Gestion des Utilisateurs</h6>
                    <a class="collapse-item" href="{{ path('AfficheUtilisateurs') }}">Utilisateurs</a>

                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">

                <i class="fas fa-fw fa-wrench"></i>
                <span>Gestion des Publicités</span>
            </a>


            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Gestion des Publicités</h6>
                    <a class="collapse-item" href="{{ path('liscibleadmin') }}">Cible</a>
                    <a class="collapse-item" href="{{ path('listpubadmin') }}">Publicité</a>
                    <a class="collapse-item" href="{{ path('tarif') }}">Tarif</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>Pages</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Login Screens:</h6>
                    <a class="collapse-item" href="{{ path('app_login') }}">Login</a>
                    <a class="collapse-item" href="{{ path('ajouterUtilisateur') }}">Register</a>
                    <a class="collapse-item" href="{{ asset('back/amine/forgot-password.html') }}">Forgot Password</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Other Pages:</h6>
                    <a class="collapse-item" href="{{ path('acceuil') }}"> Acceuil</a>
                    <a class="collapse-item" href="{{ asset('back/amine/blank.html') }}">Blank Page</a>
                </div>
            </div>
        </li>

        <!-- Divider -->


        <!-- Heading -->



        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            </nav>



            <div class="container-fluid">

                <div class="row">

                    <div class="col-xl-8 col-lg-7">

                        <!-- Area Chart -->

                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Nombre de click par publicité</h6>
                            </div>
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="myBarChartr">

                                    </canvas>
                                </div>

                            </div>
                        </div>

                        <!-- Bar Chart -->
                        <div  class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Prix des cours</h6>
                            </div>
                            <div class="card-body">
                                <div style="width: 100%">
                                    <canvas id="myChart">

                                    </canvas>
                                </div>
                                <hr>

                            </div>
                        </div>

                    </div>

                    <!-- Donut Chart -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Nombre d'affiche par nombre de clicks</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie pt-4">
                                    <canvas id="myPieChartr"></canvas>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>





                <div  class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Nombre de cours par catégorie</h6>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <canvas id="categories" width="400" height="100"></canvas>

                        </div>

                    </div>
                </div>



                <div  class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Nombre de cours par catégorie</h6>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <canvas id="cibles" width="400" height="100"></canvas>

                        </div>

                    </div>
                </div>

                <div  class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Nombre de cours par catégorie</h6>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <canvas id="statzied" width="700" ></canvas>

                        </div>

                    </div>
                </div>





                <br><br><br><br> <br><br>


                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; 9arini</span>
                        </div>
                    </div>
                </footer>

            </div>
        </div>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>







        <script src="{{ asset('back/amine/vendor/jquery/jquery.min.js')}}"></script>
        <script src="{{ asset('back/amine/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{ asset('back/amine/vendor/jquery-easing/jquery.easing.min.js')}}"></script>
        <script src="{{ asset('back/amine/js/sb-admin-2.min.js')}}"></script>
        <script src="{{ asset('back/amine/vendor/datatables/jquery.dataTables.min.js')}}"></script>
        <script src="{{ asset('back/amine/vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>
        <script src="{{ asset('back/amine/js/demo/datatables-demo.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
        <script>
            // Set new default font family and font color to mimic Bootstrap's default styling

            // Pie Chart Example
            var ctx = document.getElementById("myPieChart");
            var myPieChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: {{ coursnom|raw }},
                    datasets: [{
                        data: {{ coursprix }},
                        backgroundColor: ['#df4e8f', '#221cc8', '#cc4836'],
                        hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf', '#8a2caf', '#2c9faf', '#2c9faf', '#2c9faf', '#2c9faf', '#2c9faf'],
                        hoverBorderColor: "rgba(234, 236, 244, 1)",
                    }],
                },
                options: {
                    maintainAspectRatio: false,
                    tooltips: {
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        borderColor: '#dddfeb',
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        caretPadding: 10,
                    },
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 80,
                },
            });



        </script>

        <script>
            Chart.defaults.global.title.display = true ;
            Chart.defaults.global.title.text= "";
            Chart.defaults.global.elements.point.radius=10;

        </script>

        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart (ctx,{
                type: 'line',
                data: {
                    labels:{{ coursnom|raw }},
                    datasets: [{
                        label: "Cours",
                        backgroundColor: 'rgb(255, 99, 132, 0.1)',
                        borderColor: 'rgb(255, 99, 132)',
                        data:{{ coursprix }}
                    }]
                },
                options: {
                    title: {
                        text: "Prix des cours",

                    }

                }
            });

        </script>



        <script>
            let categories = document.querySelector("#categories")
            let categGraph = new Chart(categories, {
                type: "pie",
                data: {
                    labels: {{ categorieNom|raw }},
                    datasets: [{
                        label: "Répartition des catégories",
                        data: {{ categorieCount|raw }},
                        backgroundColor: ["black","green","blue","red","yellow","brown","pink","white","gold","purple","silver","grey"]
                    }  ]
                }
            })

        </script>


        <script>

            let categoriess = document.querySelector("#statzied")
            let categGraph = new Chart(categoriess, {
                type: "pie",
                data: {
                    labels: {{ utilisateurcount|raw }},
                    datasets: [{
                        label: "Moyenne note utilisateurs",
                        data: {{ note|raw }},
                        backgroundColor: ["black","green","blue","red","yellow","brown","pink","white"]

                    }  ]
                }
            })

        </script>
        <script>
            var ctx = document.getElementById("statzied");
            var myPieChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: {{ utilisateurcount|raw }},
                    datasets: [{
                        data: {{ note|raw }},
                        backgroundColor: ['#142a86', '#1cc88a', '#cc36c0'],
                        hoverBackgroundColor: ['#cc4836', '#17a673', '#ff0059'],
                        hoverBorderColor: "rgb(20,42,134)",
                    }],
                },
                options: {
                    maintainAspectRatio: false,
                    tooltips: {
                        backgroundColor: "rgb(255,0,89)",
                        bodyFontColor: "#221cc8",
                        borderColor: '#8a2caf',
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: true,
                        caretPadding: 10,
                    },
                    legend: {
                        display: true
                    },
                    cutoutPercentage: 80,
                },
            });
        </script>
        <script>
            let cibles = document.querySelector("#cibles")
            let cibleGraph = new Chart(cibles, {
                type: "pie",
                data: {
                    labels: {{cibleID  }},
                    datasets: [{
                        label: "Répartition des cible",
                        data: {{ publicitesCount }},
                        backgroundColor: ["black","green","blue","brown","red","orange","yellow","brown","pink","white","green"]
                    }  ]
                }
            })
        </script>
        <script>

            Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
            Chart.defaults.global.defaultFontColor = '#858796';

            // Pie Chart Example
            var ctx = document.getElementById("myPieChartr");
            var myPieChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: {{nbrAffichage}},
                    datasets: [{
                        data: {{nbrClick}},
                        backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
                        hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
                        hoverBorderColor: "rgba(234, 236, 244, 1)",
                    }],
                },
                options: {
                    maintainAspectRatio: false,
                    tooltips: {
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        borderColor: '#dddfeb',
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        caretPadding: 10,
                    },
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 80,
                },
            });


        </script>
        <script>

            // Set new default font family and font color to mimic Bootstrap's default styling
            Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
            Chart.defaults.global.defaultFontColor = '#858796';

            function number_format(number, decimals, dec_point, thousands_sep) {
                // *     example: number_format(1234.56, 2, ',', ' ');
                // *     return: '1 234,56'
                number = (number + '').replace(',', '').replace(' ', '');
                var n = !isFinite(+number) ? 0 : +number,
                    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                    s = '',
                    toFixedFix = function(n, prec) {
                        var k = Math.pow(10, prec);
                        return '' + Math.round(n * k) / k;
                    };
                // Fix for IE parseFloat(0.55).toFixed(0) = 0;
                s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
                if (s[0].length > 3) {
                    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
                }
                if ((s[1] || '').length < prec) {
                    s[1] = s[1] || '';
                    s[1] += new Array(prec - s[1].length + 1).join('0');
                }
                return s.join(dec);
            }
            var ctx = document.getElementById("myBarChartr");
            var myBarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{ PubliciteID | raw }},
                    datasets: [{
                        label: "Revenue",
                        backgroundColor: "#4e73df",
                        hoverBackgroundColor: "#2e59d9",
                        borderColor: "#4e73df",
                        data: {{ nbrClick | raw }},
                    }],
                },
                options: {
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            left: 10,
                            right: 25,
                            top: 25,
                            bottom: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            time: {
                                unit: 'month'
                            },
                            gridLines: {
                                display: false,
                                drawBorder: false
                            },
                            ticks: {
                                maxTicksLimit: 6
                            },
                            maxBarThickness: 25,
                        }],
                        yAxes: [{
                            ticks: {
                                min: 0,
                                max: 100,
                                maxTicksLimit: 10,
                                padding: 10,
                                // Include a dollar sign in the ticks
                                callback: function(value, index, values) {
                                    return 'Clicks: ' + number_format(value);
                                }
                            },
                            gridLines: {
                                color: "rgb(234, 236, 244)",
                                zeroLineColor: "rgb(234, 236, 244)",
                                drawBorder: false,
                                borderDash: [2],
                                zeroLineBorderDash: [2]
                            }
                        }],
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        titleMarginBottom: 10,
                        titleFontColor: '#6e707e',
                        titleFontSize: 14,
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        borderColor: '#dddfeb',
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        caretPadding: 10,
                        callbacks: {
                            label: function(tooltipItem, chart) {
                                var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                return datasetLabel + ': Clicks: ' + number_format(tooltipItem.yLabel);
                            }
                        }
                    },
                }
            });


        </script>



</body>
</html>