{% extends 'base-front2.html.twig' %}
{% block body %}
<style>
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
</style>
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Ajouter un cible</h1>

        <div class="card shadow mb-4">
            <div class="card-body">
                <div >
                    <div class="row">
                        <div class="col-xl-6 align-content-center" >
                            <br><br>
                            <div class="form-group">
                                {{ form_start(form) }}
                                <div class="form-group">
                                    <label for="name">Genre</label>
                                    {{ form_widget(form.genre  , {'id':'genre','attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Genre'}} ) }}
                                    {{ form_errors(form.genre ) }}
                                </div>

                                <div class="form-group">
                                    <label for="name">Age minimale </label>
                                    {{ form_widget(form.ageMin , {'id': 'minAge','attr': {'class': 'form-control form-control-user' , 'placeholder' :'Age minimale'}} ) }}
                                    {{ form_errors(form.ageMin) }}
                                </div>

                                <div class="form-group">
                                    <label for="name">Age maximale</label>
                                    {{ form_widget(form.ageMax , {'id':'maxAge','attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Age maximale' }} ) }}
                                    {{ form_errors(form.ageMax) }}
                                </div>
                                <div class="form-group">
                                    <label for="name">Dare debut de cible </label>
                                    {{ form_widget(form.dateDebut , {'id':'Ddebut','attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Date debut de publicite'}} ) }}
                                    {{ form_errors(form.dateDebut) }}
                                </div>
                                <div class="form-group">
                                    <label for="name">Date fin de cible </label>
                                    {{ form_widget(form.dateFin, {'id':'Dfin','attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Date fin de publicite'}} ) }}
                                    {{ form_errors(form.dateFin) }}
                                    {{ msg }}
                                </div>

                                <div class="form-group" >
                                    <label for="name">Prix de cible </label>
                                    {{ form_widget(form.prix , {'attr': {'class': 'form-control form-control-user'  }} ) }}
                                    {{ form_errors(form.prix) }}
                                </div>

                            </div>


                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                            <script>
                                var somme = 0 ;
                                var nbrAges = 0 ;
                                var nbrjours1= 0 ;
                                var nbrjours2= 0 ;
                                var genre;
                                var compareDate=0;


                                $(document).ready(function(){

                                    $("#genre").change( function() {
                                       genre= $(this).val();

                                       if(genre=="Tous"){
                                           somme=somme+1000;
                                       }else
                                           if(genre=="Homme"){
                                               somme=somme+500;
                                           }else
                                               if(genre=="Famme"){
                                                   somme=somme+500;
                                               }
                                        console.log("aaaaaaaaaaaaaaaaaaaaaaaaGENREaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",somme);
                                    });
                                    $("#minAge").change( function() {
                                        nbrAges = parseInt($(this).val(),10);
                                      //  somme = somme + parseInt($(this).val(),10);
                                        console.log("aaaaaaaaaaaaaaaaaaaaaaaaaAGEMINaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",somme);
                                    });
                                    $("#maxAge").change( function() {
                                        nbrAges=parseInt($(this).val(),10)-nbrAges;
                                        somme = somme + nbrAges*10;
                                       // localStorage.setItem("mySomme", somme);
                                        console.log("aaaaaaaaaaaaaaaaaaaaaaaaaaAGEMAXaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",somme);

                                     //   parseInt($("#cible_prix").val(somme),10);

                                    });
                                    $('#cible_dateDebut_month').change(function() {
                                        var datemonth = $(this).val();
                                        nbrjours1=nbrjours1+datemonth*30;
                                        console.log(datemonth,'change') ;
                                    });
                                    $('#cible_dateDebut_day').change(function() {
                                        var dateday = $(this).val();
                                        nbrjours1=nbrjours1+dateday;

                                        console.log(dateday,'change') ;
                                    });
                                    $('#cible_dateDebut_year').change(function() {
                                        var dateyear = $(this).val();
                                        compareDate=dateyear;
                                        console.log(date,'change') ;
                                    });

                                    $('#cible_dateFin_month').change(function() {
                                        var datemonth2 = $(this).val();
                                        nbrjours2=nbrjours2+datemonth2*30;
                                        console.log(datemonth2,'change') ;
                                    });
                                    $('#cible_dateFin_day').change(function() {
                                        var dateday2 = $(this).val();
                                        nbrjours2=nbrjours2+dateday2;
                                        console.log(dateday2,'change') ;
                                    });
                                    $('#cible_dateFin_year').change(function() {
                                        var dateyear2 = $(this).val();
                                        if(dateyear2 == compareDate){
                                            somme = somme + (nbrjours2-nbrjours1)*2;
                                            console.log(dateyear2,'change') ;
                                            parseInt($("#cible_prix").val(somme),10);
                                        }else{
                                            somme = somme + ((nbrjours2-nbrjours1)+((dateyear2-compareDate)*365))*2;
                                            console.log(dateyear2,'change') ;
                                            parseInt($("#cible_prix").val(somme),10);
                                            console.log(dateyear2,'+++++change++++') ;

                                        }

                                    });


                                });



                            </script>

                            {{ form_end(form) }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- /.container-fluid -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
{% endblock%}