{% extends 'base-back.html.twig' %}

{% block body %}

        {   <!-- End of Topbar -->
    <div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Gestion des Cibles</h1>
        <input class="form-control" id="myInput" type="text" id="navbar-search-input" placeholder="Search Cible" aria-label="search" aria-describedby="search">
    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Liste des Cibles</h6>
    </div>
    <div class="card-body">
    <div class="table-responsive">
    {% for message in app.flashes('info') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <hr>

    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" border="2">
    <thead>
    <tr>

        <th></th>
        <th>id </th>
        <th>id Utilisateur</th>
        <th> genre</th>
        <th> Age Max</th>
        <th>Date debut</th>
        <th>Age Min</th>
        <th>Date fin</th>
        <th>prix</th>
    </tr>
    </thead>
    <tfoot>
    <tr>

        <th></th>
        <th>id </th>
        <th>id Utilisateur</th>
        <th> genre</th>
        <th> Age Max</th>
        <th>Date debut</th>
        <th>Age Min</th>
        <th>Date fin</th>
        <th>prix</th>
    </tfoot>

    <tbody id="hi">



    {% for c in cible %}
    <tr>

        <td><a href="{{ path('deleteCinbeAdmin',{'id': c.id}) }}">Bloquer</a></td>
        <td>
            {{ c.id }}
        </td>
        <td>
            {{ c.utilisateur }}
        </td>
        <td>
            {{c.genre }}
        </td>
        <td>
            {{c.ageMin }}
        </td>
        <td>
            {{c.ageMax}}
        </td>
        <td>
            {{(c.dateDebut).format('d/m/Y')}}
        </td>
        <td>
            {{ (c.dateFin).format('d/m/Y')}}
        </td>
        <td>
            {{ c.prix}}
        </td>
    </tr>
    {% endfor %}
    {{ knp_pagination_render(cible) }}
    </tbody>
    </table>
    </div>
    </div>
    </div>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#hi tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

{% endblock %}