{% extends 'cours/base-front.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>9arini</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('front/yahia/assets/favicon.ico')}}" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ asset('front/yahia/css/styles.css')}}" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>

    </div>
</nav>
<!-- Page Header-->


<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
<br>
<br>
<br><br><br>
<H5 class="post-meta" >

    contenu de l'article:

    {{article.content  }}
</H5>
<p>curretnt user :{{currentUser}}</p>

<p>réponse</p>



{% for comment in article.getComments %}

    <hr class="my-4" />

    <div class="post-preview">

        <p class="post-meta">
            Posted by
            <a href="#">{{ comment.getUtilisateur}}</a>
            on:
            {{comment.getCreatedAt |date('d-m-Y') }}
        </p>
    </div>



    <p class="post-meta">
        {{ comment.getContent}}
    </p>






    {% if comment.utilisateur.id == currentUser %}
        <a href="{{ path('delete_comment',{id:comment.getId}) }}">
            <img width="30" src="https://img.icons8.com/color/48/000000/trash--v2.png"/></a>

    {% endif %}


    </br>
{% endfor %}
<div>

    <form action="{{ path('add_comment', {articleId : article.id,user:currentUser}) }}">



        <input type="text"  name="content">

        <button class="btn a-pry btn-xlrima" type="submit">Addcomment</button>
    </form>

</div>
<script src="//code.jquery.com/jquery.js"></script>
<!-- Load Flashy default JavaScript -->
<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
<!-- Include Flashy default partial -->
{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
{% endblock %}
