<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">

        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}

        {% endblock %}



    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
        {{ include('@MercurySeriesFlashy/flashy.html.twig') }}

    </body>

</html>
