{% extends 'utilisateur/acceuil.html.twig' %}
{% block body %}
    {{ form_start(formulaire) }}
    <!DOCTYPE html>
    <html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SB Admin 2 - Register</title>

        <!-- Custom fonts for this template-->
        <link href="{{ asset('back/amine/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link
                href="{{ asset('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i') }}"
                rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{{asset('back/amine/css/sb-admin-2.min.css') }} " rel="stylesheet">

    </head>

    <body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Profil</h1>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="form-group">
                                        {{ form_errors(formulaire.utilisateurnom) }}
                                        {{ form_label(formulaire.utilisateurnom,"nom :") }}
                                        {{ form_widget(formulaire.utilisateurnom) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_errors(formulaire.utilisateurprenom) }}
                                        {{ form_label(formulaire.utilisateurprenom,"prenom :") }}
                                        {{ form_widget(formulaire.utilisateurprenom) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_errors(formulaire.utilisateurgenre) }}
                                    {{ form_label(formulaire.utilisateurgenre,"genre :") }}
                                    {{ form_widget(formulaire.utilisateurgenre) }}
                                </div>
                                <div class="form-group">
                                    {{ form_errors(formulaire.utilisateurddn) }}
                                    {{ form_label(formulaire.utilisateurddn,"Date de Naissance :") }}
                                    {{ form_widget(formulaire.utilisateurddn) }}
                                </div>

                                <div class="form-group">
                                    {{ form_errors(formulaire.utilisateurrole) }}
                                    {{ form_label(formulaire.utilisateurrole,"Role :") }}
                                    {{ form_widget(formulaire.utilisateurrole) }}

                                </div>
                                <div class="form-group">
                                    {{ form_errors(formulaire.utilisateuradresse) }}
                                    {{ form_label(formulaire.utilisateuradresse,"Addresse :") }}
                                    {{ form_widget(formulaire.utilisateuradresse) }}

                                </div>
                                <div class="form-group">
                                    {{ form_errors(formulaire.utilisateurpays) }}
                                    {{ form_label(formulaire.utilisateurpays,"Pays :") }}
                                    {{ form_widget(formulaire.utilisateurpays) }}

                                </div>
                                <div class="form-group">
                                    {{ form_errors(formulaire.utilisateurphone) }}
                                    {{ form_label(formulaire.utilisateurphone,"numéro de téléphone :") }}
                                    {{ form_widget(formulaire.utilisateurphone) }}

                                </div>
                                <div class="form-group">
                                    {{ form_errors(formulaire.utilisateurfonction) }}
                                    {{ form_label(formulaire.utilisateurfonction,"fonction :") }}
                                    {{ form_widget(formulaire.utilisateurfonction) }}

                                </div>
                                <div class="form-group">
                                    {{ form_errors(formulaire.utilisateurorganisme) }}
                                    {{ form_label(formulaire.utilisateurorganisme,"Organisme :") }}
                                    {{ form_widget(formulaire.utilisateurorganisme) }}

                                </div>
                                <div class="form-group">
                                    {{ form_errors(formulaire.utilisateursavoiretre) }}
                                    {{ form_label(formulaire.utilisateursavoiretre,"SofSkills :") }}
                                    {{ form_widget(formulaire.utilisateursavoiretre) }}

                                </div>
                                <div class="form-group">
                                    {{ form_errors(formulaire.utilisateurpdp) }}
                                    {{ form_label(formulaire.utilisateurpdp,"photo de profil :") }}
                                    {{ form_widget(formulaire.utilisateurpdp) }}

                                </div>
                                <div class="form-group">

                                    {{ form_widget(formulaire.submit ,{ 'label': 'registre' }) }}
                                </div>
                                {{ form_rest(formulaire) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ asset('back/amine/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('back/amine/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ asset('back/amine/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('back/amine/js/sb-admin-2.min.js') }}"></script>

    </body>

    </html>

    {{ form_end(formulaire) }}
{% endblock %}




