{% extends 'base.html.twig' %}

{% block title %} ARTICLE {% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
<section class="bg-light p-3">
    <h1>{{article.content  }}</h1>
</section>

{% for comment in article.getComments %}
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center" >
      {{ comment.getContent}}

    </div>

{% endfor %}
<div>

    <form action="{{ path('add_comment', {articleId : article.id}) }}">



        <input type="text" class="col-lg-8 align-self-end" name="content">
        <input type="text" class="col-lg-8 align-self-end" name="utilisateur">

        <button class="btn btn-primary btn-xl" type="submit">Addcomment</button>
    </form>

</div>
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
{% endblock %}
