{% extends 'cours/base-front.html.twig' %}

{% block body %}
<br><br><br><br><br><br><br><br><br><br>
  <div >
    {{ form_start(formulaire) }}
<h1>comment vous evaluez ce utilisateur de 0 a 5? </h1>
    <div>
        {{ form_errors(formulaire.notevaleur) }}
        {{ form_label(formulaire.notevaleur,"note :") }}
        {{ form_widget(formulaire.notevaleur) }}
    </div>
    <br>
    <br>
    <br>
    <div>
        {{ form_widget(formulaire.submit ,{ 'label': 'submit' }) }}
    </div>

{{ form_end(formulaire) }}
  </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}