<html>
<head>
<style>
    #leftpub {
        float: left;
        top: 30px;
        left: 10px;
        width: 150px;
        height: 1000px;
        border: 2px solid blue;

    }
    #rightpub {
        float: right;
        top: 30px;
        left: 1000px;
        width: 150px;
        height: 1000px;
        border: 2px solid blue;

    }


</style>
</head>
<body>
{% set c = 0 %}
{% set p1 = ""%}
{% set p2 = ""%}


{% set pid1 = 0  %}
{% set pid2 = 0  %}


{% for p in pub %}

{% if c==0 %}

    {% set p1 = p.imagePublicite  %}
    {% set pid1 = p.id  %}


        {% set c=c+1 %}
    {% elseif c==1%}

        {% set p2 = p.imagePublicite  %}
        {% set pid2 = p.id  %}
            {% set c=c+1 %}
{% endif %}
{% endfor %}





<div id="leftpub">
    <a href="{{ path('NbrClick',{'id': pid1}) }}">
        <img src="{{ asset('/front/web/images/')}}{{p1}}" height="1000" width="150"/>
    </a>
</div>

<div id="rightpub">
    <a href="{{ path('NbrClick',{'id': pid2}) }}" >
        <img src="{{ asset('/front/web/images/')}}{{p2}}" height="1000" width="150"/>
    </a>
</div>

</body>
</html>