{% extends 'base-front2.html.twig' %}
{% block body %}

    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Gestion des Publlicites</h1>
        <input class="form-control" id="myInput" type="text" id="navbar-search-input" placeholder="Searcher Publiciter" aria-label="search" aria-describedby="search">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste des Publicite</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    {% for message in app.flashes('info') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <button  type="button"><a href="{{ path('addpub') }}">Ajouter</a></button>
                    <hr>

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" border="2">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>id </th>
                            <th>id cible </th>
                            <th>lien</th>
                            <th> image</th>
                            <th>video</th>
                            <th>nbr d'affichage</th>
                            <th>nbr de click</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>id </th>
                            <th>id cible </th>
                            <th>lien</th>
                            <th> image</th>
                            <th>video</th>
                            <th>nbr d'affichage</th>
                            <th>nbr de click</th>
                        </tfoot>

                        <tbody id="hi">
                        {% for p in tabpub %}
                            <tr>
                                <td><a href="{{ path('updatePub',{'id': p.id}) }}">Modifier</a></td>

                                <td><a href="{{ path('deletPublicite',{'id': p.id}) }}">Supprimer</a></td>
                                <td>
                                    {{ p.id }}
                                </td>
                                <td>
                                    {{ p.Cible}}
                                </td>
                                <td>
                                    {{ p.lienPublicite }}

                                </td>
                                <td>
                                    <img src="{{ asset('/front/web/images/')}}{{p.imagePublicite }}" width="100"  />
                                </td>
                                <td>
                                    {{p.videoPublicite}}
                                </td>
                                <td>
                                    {{p.nbrAffichage}}
                                </td>
                                <td>
                                    {{p.nbrClick}}
                                </td>
                            </tr>
                        {% endfor %}
                        {{ knp_pagination_render(tabpub) }}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; 9arini</span>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#hi tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

{% endblock %}
