{% extends 'base-front3.html.twig' %}

{% block title %} New Reclamation {% endblock %}

{% block body %}
    <h1>Create new Reclamation</h1>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
    {{ form_label(form.categoriereclamation, 'Categorie :') }}
    {{ form_widget(form.categoriereclamation) }}
    <br>
    {{ form_label(form.messagereclamation, 'Message :') }}
    {{ form_widget(form.messagereclamation) }}
    {{ form_errors(form.messagereclamation) }}
        <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
{% endblock%}
