{% extends 'base-back.html.twig' %}
{% block body %}


    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Modifier un tarif</h1>

        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-xl-6 align-content-center" >
                            <br><br>
                            <div class="form-group">
                                {{ form_start(form) }}
                                <div class="form-group">
                                    <label for="name">Prix de genre "Tous"</label>
                                    {{ form_widget(form.prixGenreTous  , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Prix de touts les genres '}} ) }}
                                    {{ form_errors(form.prixGenreTous ) }}
                                </div>
                                <div class="form-group">
                                    <label for="name">Prix de genre "Homme"</label>
                                    {{ form_widget(form.prixGenreHomme , {'attr': {'class': 'form-control form-control-user' , 'placeholder' :'Prix de genre homme '}} ) }}
                                    {{ form_errors(form.prixGenreHomme) }}
                                </div>
                                <div class="form-group">
                                    <label for="name">Prix de genre "Famme"</label>
                                    {{ form_widget(form.prixGenreFamme , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Prix de genre famme' }} ) }}
                                    {{ form_errors(form.prixGenreFamme) }}
                                </div>
                                <div class="form-group">
                                    <label for="name">Prix de seul age </label>
                                    {{ form_widget(form.prixAges , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Prix pour lage'}} ) }}
                                    {{ form_errors(form.prixAges) }}
                                </div>
                                <div class="form-group">
                                    <label for="name">Prix de duree par jour </label>
                                    {{ form_widget(form.prixDuree, {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Prix pour le duree par jour'}} ) }}
                                    {{ form_errors(form.prixDuree) }}
                                </div>
                                <div class="form-group">
                                    <label for="name">Nombre de pub par cibleq </label>
                                    {{ form_widget(form.nbPubParCible , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'nembre de publicite par cible'}} ) }}
                                    {{ form_errors(form.nbPubParCible) }}
                                </div>

                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- /.container-fluid -->


{% endblock %}