{% extends 'base-back.html.twig' %}

{% block title %} Service après vente {% endblock %}

{% block body %}
    <h1>Liste des réclamations</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Message</th>
            <th>Date</th>
            <th>Etat</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.reclamationid }}</td>
                <td>{{ reclamation.messagereclamation }}</td>
                <td>{{ reclamation.datereclamation ? reclamation.datereclamation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reclamation.etatreclamation }}</td>
                <td>
                    <a href="{{ path('reclamation_show', {'reclamationid': reclamation.reclamationid}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
