{% extends 'base-back.html.twig' %}

{% block title %} Reply reclamation {% endblock %}

{% block body %}
    <h1>Reply Reclamation</h1>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
    {{ form_label(form.reponsereclamation, 'Message :') }}
    {{ form_widget(form.reponsereclamation) }}
    {{ form_errors(form.reponsereclamation) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
{% endblock%}
