{% extends 'base-back.html.twig' %}

{% block title %} Reclamation {% endblock %}

{% block body %}
    <h1>Reclamation</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>ID</th>
            <td>{{ reclamation.reclamationid }}</td>
        </tr>
        <tr>
            <th>Message</th>
            <td>{{ reclamation.messagereclamation }}</td>
        </tr>
        <tr>
            <th>Reponse</th>
            <td>{{ reclamation.reponsereclamation }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ reclamation.datereclamation ? reclamation.datereclamation|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Etat</th>
            <td>{{ reclamation.etatreclamation }}</td>
        </tr>
        </tbody>
    </table>

    <form style="display: inline" method="post" action="{{ path('reclamation_reply', {'reclamationid': reclamation.reclamationid}) }}">
        <button class="btn">Reply</button>
    </form>
    <form style="display: inline" method="post" action="{{ path('reclamation_delete', {'reclamationid': reclamation.reclamationid}) }}"
          onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reclamation.reclamationid) }}">
        <button class="btn">Delete</button>
    </form>

    <a style="display: block" href="{{ path('reclamation_index') }}">back to list</a>

{% endblock %}
